@charset "*uTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

:root{
    --font1: 'Mochiy Pop One', sans-serif;

    --amarelo: #FAFABF;
    --azul: #D7EBFA;
    --verde: #ADAD72;
    --rosa1: #FAA7A5;
    --rosa2: #AD7C7B;

}

body{
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo);
}

.conteiner{
    display: flex;
    width: 80%;
    height: 80vh;
    box-shadow: 3px 3px 10px black;
}

.img-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--rosa1);
}

.img-box img{
    width: 35rem;
}

.form-box{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
}

/*.header-box h1::after{
    content: '';
    display: block;
    position: absolute;

    width: 5rem;
    height: 0.3rem;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}*/

.fieldset-box{
    margin: 0.6rem 0rem;
}

.fieldset-box input{
    width: 100%;
    background-color: transparent;
    border: none;
}

.fieldset-box legend{
    font-size: 0.8rem;
    color: var(--rosa2);
    text-shadow: 1px 1px 0px black;
}

.columns-group{
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    justify-content: center;
}

.columns-group label{
    font-size: 0.8rem;
    color: var(--rosa2);
    text-shadow: 1px 1px 0px black;
}

.input-columns{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0.1px 0.5px;
}

.input-columns input{
    margin: 0.6rem 0rem;
    padding: 0.6rem 1rem;
    background-color: transparent;
    border: none;

}

.fieldset-box input{
    border: none;
    background-color: transparent;
    outline: none;
}

.input-columns legend{
    font-size: 0.7rem;
    color: var(--rosa2);
    text-shadow: 1px 1px 0px black;
}

@media screen and (max-width: 1330px){
    .img-box{
        display: none;
    }

    .conteiner{
        width: 50%;
    }

    .form-box{
        width: 50%;
    }

    .fieldset-columns{
        padding: 100%;
    }
}

@media screen and (max-width: 1064px){
    .conteiner{
        width: 90%;
        height: auto;
    }

    .columns-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 1rem;
    }
}